<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614758760299-hj093hib970o9lh1ecel2m7sr8q7iggl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614758760299-hj093hib970o9lh1ecel2m7sr8q7iggl</string>
	<key>API_KEY</key>
	<string>AIzaSyDTtqiFyotRfhq92ymQUhOH3UDLNQ4MBtU</string>
	<key>GCM_SENDER_ID</key>
	<string>614758760299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yashica.YASwiftSample</string>
	<key>PROJECT_ID</key>
	<string>ya-swift-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>ya-swift-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614758760299:ios:87616e2b0cd87f535ad62e</string>
	<key>DATABASE_URL</key>
	<string>https://ya-swift-sample.firebaseio.com</string>
</dict>
</plist>